@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

div#wrapper {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

header {
    width: auto;
    height: 50px;
    background-color: red;
}

div#mainimage {
    height: 200px;
    background-color: green;
    margin: 20px 0;
}

div#left {
    float: left;
    width: 680px;
    height: 400px;
    background-color: yellow;
}

div#right {
    float: right;
    width: 300px;
    height: 400px;
    background-color: pink
}

.clear {
    clear: both;
}

footer {
    height: 80px;
    background-color: gray;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    div#wrapper {
        width: auto;
        padding: 0 30px;
    }

    div#left {
        width: 49%;
        margin-right: 2%;
        /* (%化したい横幅 + ウェブサイト全体の横幅) * 100 = ○% */
    }
    
    div#right {
        width: 49%;
    }
}

@media screen and (max-width: 640px) {

    div#left {
        float: none;
        width: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    div#right {
        float: none;
        width: auto;
    }
}
